body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.navbar {
  background-color: #E2D2C8;
}

.main-container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.custom-navbar {
  background-color: #e2d2c8 !important;
  min-height: 60px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}

@media (max-width: 768px) {
  .custom-navbar {
    position: sticky;
    top: 0;
  }
}
.custom-navbar .navbar-brand img {
  height: 40px;
  width: auto;
}

.custom-navbar .navbar-nav {
  column-gap: 32px;
}

.custom-navbar .nav-link {
  color: #000;
  font-size: 18px;
  position: relative;
  padding: 3px 0;
  margin: 0 32px;
  text-decoration: none;
  background: transparent;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #005a5d;
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #005a5d;
  transition: width 0.3s ease;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.custom-navbar .navbar-toggler {
  border: 0;
}

.custom-navbar .logo {
  display: flex;
  align-items: center;
  padding: 0 32px;
  height: 100%;
}

.custom-navbar .logo img {
  height: 40px;
  width: auto;
}

/* Hamburger personalizzato */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='%23005a5d' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* Stile dei link nel dropdown */
.navbar-label a {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.hero-title {
  position: relative;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.hero-title h1 {
  display: inline-block;
  position: relative;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.hero-title h1::before,
.hero-title h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: #005a5d;
  transform: translateY(-50%);
}

.hero-title h1::before {
  right: 100%;
  margin-right: 2%;
}

.hero-title h1::after {
  left: 100%;
  margin-left: 2%;
}

.hero-subtitle {
  text-align: center;
}

.hero-subtitle h2 {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.bio-box {
  background-color: #e2d2c8;
  padding-top: 18px;
  padding-left: 35px;
  padding-bottom: 30px;
  margin-top: 120px;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: auto;
}

.bio-box h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}

.box-presentazione {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.box-presentazione p {
  width: 60%;
  margin: 0;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}

.box-presentazione .imgprofilo {
  width: 40%;
  margin-bottom: 20px;
}

.imgprofilo img {
  margin-top: -92px;
  width: 337px;
  height: 337px;
  border-radius: 10px;
  margin-left: 86px;
  object-fit: cover;
}

/*per responsive mobile*/
@media (max-width: 768px) {
  .hero-title h1 {
    font-size: 24px;
    padding: 0 1rem;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .box-presentazione {
    flex-direction: column;
    align-items: center;
  }
  .box-presentazione .imgprofilo {
    width: 100%;
    margin: 0 auto 20px;
    order: -1;
    display: flex;
    justify-content: center;
  }
  .imgprofilo img {
    width: 80%;
    height: auto;
    margin: 0;
  }
  .box-presentazione p {
    width: 100%;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
  }
}
/* Sistemazione Card */
.mesderniersprojets {
  margin-top: 60px;
}

.mesderniersprojets h3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.mesderniersprojets h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 30%;
  height: 1px;
  background-color: black;
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  max-width: 384px;
  border: none;
  box-shadow: none;
}

.card img {
  width: 100%;
  /*max-width: 384px;
  height: auto;*/
  aspect-ratio: 4/3;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 500;
  text-align: center;
  background-color: #e2d2c8;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  flex: 0 0 auto;
}

/* Mobile responsive per le card */
@media (max-width: 768px) {
  .mesderniersprojets h3 {
    padding: 5px;
    font-size: 18px;
  }
  .mesderniersprojets h3::after {
    margin: 5px;
    width: 80%;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .card {
    max-width: 100%;
  }
  .card img {
    max-width: 100%;
  }
  .card-text {
    font-size: 1rem;
  }
  .contacts {
    padding: 5px;
  }
  .contacts h3 {
    font-size: 16px;
  }
  .contacts h3::after {
    width: 80%;
  }
}
/* bottone */
.btnProject {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btnProject a {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #e2d2c8;
  text-decoration: none;
  color: #000000;
  padding: 5px 50px;
  border-radius: 10px;
}

.btnProject :hover {
  background-color: #ada099;
}

.custom-navbar .nav-link::after {
  background: #e2d2c8;
  transition: width 0.3s ease;
}

/* Contacts */
.contacts h3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contacts h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 30%;
  height: 2px;
  background-color: #ada099;
}

.textContacts h4 {
  margin: 0;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.textContacts p {
  line-height: 25px;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #e2d2c8;
  padding: 25px;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}

.footer .footerLeft i {
  font-size: 10px;
  text-align: center;
}

.footer .footerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerRight a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* PROJECTS STYLE PAGE (PROJECT.HTML) */
/*Header*/
.header {
  text-align: center;
  padding: 20px 0;
  margin: 0 0 10px 0;
}

.titleLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.titleLine .line {
  flex: 0 1 10%;
  height: 1px;
  background-color: black;
}

.titleLine h1 {
  margin: 0;
  white-space: nowrap;
  font-size: 2rem;
}

.titleLine h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.titleLine p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

/* projects card */
.projectCard h3 {
  position: relative;
  font-family: montserrat, sans-serif;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.projectCard h3::after {
  content: "";
  position: absolute;
  /*left: 0;
  bottom: -4px;*/
  display: block;
  margin: 6px auto 0;
  width: 50%;
  height: 2px;
  background-color: #ada099;
}

.projectCard {
  margin: 20px 5px;
  max-width: 1000px;
  padding: 0 10px;
}

.projCard {
  margin-bottom: 40px;
}

.projectCards {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.infoLine {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.infoLine h6 {
  margin: 0;
  font-weight: 500;
}

.projectImg {
  flex: 1 1 400px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.projectImg img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.projectText {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projCard .projectText h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.projectText p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Responsive: su schermi piccoli */
@media (max-width: 768px) {
  .projectCards {
    flex-direction: column;
    align-items: center;
  }
  .projectImg,
  .projectText {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .projectText {
    margin-top: 10px;
  }
  .projectCard h3::after {
    width: 80%;
  }
}
/* CV PAGE STYLE */
.titolo-cv h1 {
  font-size: 40px;
  font-weight: 500;
}

.header p {
  font-size: 30px;
  font-weight: 400;
}

.cvExperiences {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0 16px;
}

.cvExperiences > h4,
.formation > h4 {
  position: relative;
  font-size: clamp(18px, 2.4vw, 22px);
  font-weight: 700;
  margin-bottom: 10px;
}

.cvExperiences h4::after,
.formation h4::after {
  content: "";
  display: block;
  /*left: 0;
  bottom: 0;*/
  margin-top: 4px;
  width: 40%;
  height: 2px;
  background-color: #ada099;
}

.cvExperiences h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.formation .course h6 {
  font-size: 22px;
  font-weight: 600;
}

.formation .course p {
  font-size: 18px;
  font-weight: 300;
}

.jobs .sea h6 {
  font-size: 22px;
  font-weight: 600;
}

.jobs .sea p {
  font-size: 18px;
  font-weight: 300;
}

.jobs .webmarketing h6 {
  font-size: 22px;
  font-weight: 600;
}

.jobs .webmarketing p {
  font-size: 20px;
  font-weight: 300;
}

.cv-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "jobs skills" "formation skills";
  gap: 24px;
  align-items: start;
}

.jobs {
  grid-area: jobs;
}

.formation {
  grid-area: formation;
}

.skills {
  grid-area: skills;
  text-align: right;
}

.sea,
.course {
  margin-bottom: 20px;
}

.languages h6,
.software h6 {
  position: relative;
  margin-bottom: 8px;
  font-weight: 600;
}

.languages h6::after,
.software h6::after {
  content: "";
  display: block;
  /*right: 0;
  bottom: 0; */
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: #ada099;
}

@media (max-width: 768px) {
  .cv-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "jobs" "formation" "skills";
  }
  .skills {
    text-align: left;
  }
  .cvExperiences > h4::after,
  .formation > h4::after {
    width: 80%;
  }
}
/* CONTACT PAGE STYLE*/
.formContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.boxForm {
  background-color: #e2d2c8;
  flex: 1 1 50%;
  padding: 30px;
}

.boxImg {
  flex: 1 1 50%;
}

.boxImg img {
  width: 100%;
  height: auto;
  max-width: 450px;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.form-label {
  padding: 0 5px 0 5px;
}

/* bottone form*/
.btn-wrapper {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: left;
}

.btn-form {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  background-color: #e2d2c8;
  text-decoration: none;
  color: #000000;
  padding: 5px 50px;
  border-radius: 10px;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #ada099;
}

@media (max-width: 768px) {
  .formContact {
    flex-direction: column-reverse;
  }
  .boxForm,
  .boxImg {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .boxImg {
    margin-bottom: 30px;
  }
  .boxImg img {
    max-height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
